/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
html,body{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    background-color: #F0FAFF;
    /* font-family: ; */
}